@import "./common";
@import "./font";
@import "./variables";

// btn
%btn-default {
  @extend %primary-p;
  color: $main-orange;
  padding: 8px 16px;
  border: 1px solid $main-orange;
  border-radius: 50px;
}

%btn-checked {
  @extend %primary-p;
  color: $white;
  padding: 8px 16px;
  border: 1px solid $main-orange;
  border-radius: 50px;
  background-color: $main-orange;
}

// line
%line-bottom {
  border-bottom: 1px solid $line-gray;
}

// 頁籤
%tag-btn {
  width: 130px;
  height: 52px;
  font-size: 15px;
  color: $primary-gray;
  line-height: 21.72px;
  &:hover {
    width: 130px;
    height: 52px;
    color: $main-orange;
    border-bottom: 2px solid $main-orange;
  }
  &.checked {
    width: 130px;
    height: 52px;
    color: $main-orange;
    border-bottom: 2px solid $main-orange;
  }
}
