// white 系列
$white: #FFFFFF;

// black 系列
$black: #000000;
$main-black: #171725;
$primary-black: #44444F;

// gray 系列
$background-gray: #E5E5E5;
$line-gray: #E6ECF0;
$card-gray: #F6F7F8;

$primary-gray: #657786;
$secondary-gray: #6C757D;
$third-gray: #92929D; 

// orange 系列
$main-orange: #FF6600;
$secondary-orange: #FF974A;

// blue 系列
$primary-blue: #0062FF;
$secondary-blue: #50B5FF;

// secondary 系列
$secondary-green: #82C43C;
$secondary-purple: #A461D8;
$secondary-pink: #FF9AD5;

// 警示系列
$success-green: #3DD598;
$warning-yellow: #FFC542;
$error-red: #FC5A5A;
